%h1 Accounts#view
%div
  %p Find me in app/views/accounts/view.html.haml
  Hi, I'm an Account and my name is:
  = @account.name
- if @organization
  %p
    and I belong to the
    = @organization.name
%br
%br
This account has the following users:
%table
  %thead.bg-green-700
    %tr
      %td user_id
      %td email
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email

%br
%br
%table
  %thead.bg-green-700
    %tr
      %td account_id
      %td name
      %td parent_account_id
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.id
        %td= account.name
        %td= account.parent_account_id

%br
%br
The 
= @organization.name

org has the following accounts:
%table
  %thead.bg-green-700
    %tr
      %td account_id
      %td name
      %td parent_account_id
  %tbody
    - @organization_accounts.each do |account|
      %tr
        %td= account.id
        %td= account.name
        %td= account.parent_account_id
